@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --light-colour: rgb(39, 219, 210);
    --dark-colour: rgb(35, 190, 183);
    --accent-colour: rgb(255, 123, 0);
    --tertiary-colour: red;
    // --light-colour: lightgrey;
    // --dark-colour: rgb(177, 177, 177);
    // --accent-colour: rgb(255, 123, 0);
    // --tertiary-colour: red;

}

body {
    background: var(--dark-colour);
    font-family: 'Poppins';
    margin: 0;
    color: black;
}

.topbar {
    background: var(--light-colour);
    padding: 1em;
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
        // display: block;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.5em;            
    }
    .tef {
        font-weight: bold;
        span {
            color: var(--accent-colour);

            &:hover {
                color: var(--tertiary-colour);
            }
        }
    }  

    .testme {
        color: var(--accent-colour);
        padding: .2em .5em;
        font-size: 1em;
        border: 3px solid var(--accent-colour);
        border-radius: 5em;
        max-width: 70px;
        float: right;
        &:hover {
            color: white;
            background-color: var(--accent-colour);
            font-weight: normal;   
        }
    }
    .contact {
        &:hover {
            color: black;
            font-weight: bold;
        }
    }
}

    nav {
        display: none;
    }

nav {
    margin: 0em;
    z-index: 999;
    position: fixed;
    width: 35%;
    top: 0;
    right: 0;
    background: lightseagreen;
    height: 100vh;
    padding: 1em;
    .exit-menu {
        display: block;
        margin: 0;
        float: right;
        padding: 0em;

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin-top: 4em;
    }
    
    li {
        a {
            display: block;
            padding: .5em 0;
            margin: 0;
            text-align: right;
            
            &:hover {
                font-weight: bold;
            }
        }
    }

}

nav.mobile-menu-show {
    display: block;
}

.hero .jenkins {
    width: 100%;
    height: auto;
}

.ci .ci-list {
    background: var(--light-colour);
    li {
        img {
            width: 30%;
        }
    }
    
}

.tools .tools-list {
    background: var(--light-colour);
}

@media only screen and (min-width: 768px) {

    .mobile-menu {
        display: none;
    }
    
    .topbar .container {
        display: grid;
        grid-template-columns: 150px auto ;
        justify-content: unset;
    }

    .topbar nav {
        display: flex;
        place-content: space-between;
        background: none;
        padding: 0;
        position: unset;
        height: auto;
        width: 100%;

        .exit-menu {
            display: none;
        }
        a {
            font-size: 1em;
        }
        
        ul {
            margin: 0;
            display: flex;
            padding: 0 1em;
        }
        
        li {
            padding: 0 1em;
        }
    
    }


}