@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-colour: orange;

}

body {
    background: orange;
    font-family: 'Poppins';
    margin: 0;
    color: black;
}


.topbar .container {
    background: white;
    // display: flex;
    // grid-template-columns: 180px auto;
        
        .mobile-menu {
            width: 40px;
            height: auto;
            margin: 0em;
            position: absolute;
            right: 1em;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 2em;            
        }
        .tef {
            font-weight: bold;
            margin: 0em 1em;
            span {
                color: var(--primary-colour);
                &:hover {
                    color: red;
                }
            }
        }  
        .testme {
            color: var(--primary-colour);
            padding: .2em .5em;
            font-size: 1.3em;
            border: 3px solid var(--primary-colour);
            border-radius: 5em;
            display: flex;
            &:hover {
                color: white;
                background-color: var(--primary-colour);
                font-weight: normal;
                
            }
        }
        .contact {
            &:hover {
                color: black;
                font-weight: bold;
            }
        }
        ul {
            list-style: none;
            // display: flex;
        }
        // li {
        //     margin: -1em 1em;
        // }

}
// .topbar nav {
//     display: flex;
// }
// .prim-nav {
//     padding: 0em 2em;
// }
// .sec-nav {
//     position: absolute;
//     right: 1em;
// }


.background-image .jenkins {
    width: 100%;
    height: auto;
}
